<a href="https://colab.research.google.com/github/tsnow2010/DATA601/blob/main/DATA601_Project1/DATA601_Project1_Idea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA601 Project 1, Idea 1

#### Purpose: Take titles and years made of all US-made movies from 1972-2016, use OMDB API to get movie ratings from three different sources (IMDB, Rotten Tomatos, and Metacritic), and answer the following questions:
> **Questions to be answered:**
>
> *Which year produced the highest rated movies?*
>
> *Which decade produced the highest rated movies?*
>
> *Is the proportion of highly acclaimed movies to mediocre movies going up or down each year?  2010 through 2016 will be analyzed.*
>
> Other questions?

#### What has been done?

* Code for pulling required data from API is functional.
* Found a .csv file from IMDB that supplies the required data on nearly 10,000 movies produced domestically from 1972-2016.
  * It is unconfirmed whether this is an accurate count.

#### Script 1:
* Provides function **get_movie_ratings** which, given the movie title, year, and api_key, pulls the movie's ratings from IMDB, Rotten Tomatoes, and Metacritic, and writes all this data in a .csv per year of production.  
* TO DO: Change code to write data to (1) .csv file versus over (40) files.

In [ ]:
# This script lists functions to make requests to the OMDB API, located at 'http://www.omdbapi.com/?apikey=[yourkey]&', and writes data to a .csv to later analyze
# ratings from IMDB, Rotten Tomatos, and Metacritic.
import pandas as pd
import requests
import json
import csv

# This function requests movie data, at least ratings are expected, for all movies made in a certain year.  It writes the results in 'movies_in_<year>.csv'.

def get_movie_ratings(title: str, year: int, api_key: str):
    # Assigns API key to API URL
    updated_url = 'http://www.omdbapi.com/?apikey={}&'.format(api_key)

    print(updated_url)
    # Request movie data from title and year made, and return in JSON format.
    request_NaJSON = requests.get(updated_url, params={'t': title, 'y': year, 'r': 'json', 'type':'movie'})

    # Turns request into JSON format.
    request = request_NaJSON.json()

    # Look at formatting of dict


    # Makes dict with the movie's IMDB rating, Rotten Tomato rating, and Metascore rating.
    movie_ratings = {'imbd': request['imdbRating'], 'rotten_tom': str(request['Ratings'][1]['Value'])[:-1], 'metascore': request['Metascore']}

    # Opens new .csv file for writing data and names the file by year.  For an example for all movies made domestically in 1984, it will be named 'movies_in_1984'.  File will contain movie data made domestically in one year.
    file = open('movies_in_{}.csv'.format(year), 'w')

    # Writes title and movie ratings in the order of the dict made above and closes the file.
    new_csv = csv.writer(file)
    new_csv.writerow([title, movie_ratings['imbd'], movie_ratings['rotten_tom'], movie_ratings['metascore']])
    print('This was written to', 'movies_in_{}.csv'.format(year) + ':', "'" + title, movie_ratings['imbd'], movie_ratings['rotten_tom'], movie_ratings['metascore'] + "'")
    file.close()

# Test the functionality of method
get_movie_ratings("The Terminator", 1984, '7a34ecb8')

# Below commented lines can be used for testing.

#print(request_NaJSON.url)
#print(request_NaJSON.text)
print(json.dumps(request, indent = 2))

# FOLLOW UP WORK:

# Need to get list of domestic movie titles and years made.
##### Movie titles and years may be found at https://www.imdb.com/list/ls057823854/?view=compact&sort=user_rating%2Cdesc.

#----------------------------------------------------------------------#
# Idea for Project 1_DATA 601
# CAO 09/08/2024
# By: Tyler Snow

http://www.omdbapi.com/?apikey=7a34ecb8&
This was written to movies_in_1984.csv: 'The Terminator 8.1 100 84'

#### Script 2:
* Reads 'us_released_movies_1972_to_2016.csv', which contains all domestic movie data from 1972 to 2016 and makes a Panda DataFrame.
* TO DO: Use lists produced from the Panda DataFrame and the above code to pull all (3) metrics from the API and write to a single .csv file.

In [ ]:
df = pd.read_csv('us_released_movies_1972_to_2016.csv')
df.sample()
#movies_title_list = df['Original Title'].tolist()
#movies_release_list = df['Year'].tolist()
#movies_genre_list = df['Genres'].tolist()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
3624,3625,tt0758743,2013-04-23,2013-04-23,NaN,Dirty Sanchez: The Movie,Dirty Sanchez: The Movie,https://www.imdb.com/title/tt0758743/,Movie,6.0,94.0,2006.0,"Documentary, Action, Comedy",4410,2006-09-22,Jim Hickey